@page "/survey/{surveyId}/question/Index"
@model BRIDGEWebApp.Pages.Survey.Question.IndexModel

@{
    ViewData["Title"] = "Survey Questions";
}

<h1>Survey: @Html.DisplayFor(model => model.QuestionList.SurveyName)</h1>
<p>
    <a type="button" class="btn btn-sm btn-success" asp-page="./Create" asp-route-surveyId="@Model.QuestionList.SurveyId">Create Question</a>
</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionList.QuestionViewModels[0].Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionList.QuestionViewModels[0].QuestionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionList.QuestionViewModels[0].Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionList.QuestionViewModels[0].IsMandatory)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.QuestionList.QuestionViewModels[0].IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionList.QuestionViewModels[0].SurveySectionName)
            </th>          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.QuestionList.QuestionViewModels)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @if(item.IsMandatory)
                {
                    <span>Yes</span>
                } else
                {
                    <span>No</span>
                }
            </td>
            <td>
               @if(item.IsActive)
                {
                    <span>Yes</span>
                } else
                {
                    <span>No</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveySectionName)
            </td>        
            <td>
                <a type="button" class="btn btn-sm btn-success" asp-page="./Edit" asp-route-surveyId="@Model.QuestionList.SurveyId" asp-route-id="@item.Id">Edit</a> 
                <a type="button" class="btn btn-sm btn-primary" asp-page="./Details" asp-route-surveyId="@Model.QuestionList.SurveyId" asp-route-id="@item.Id">Details</a> 
                <a type="button" class="btn btn-sm btn-primary" asp-page="./QuestionOption/Index" asp-route-surveyId="@Model.QuestionList.SurveyId" asp-route-questionId="@item.Id">Answer Options</a>
             </td>
        </tr>
}
    </tbody>
</table>
