@page
@model BRIDGEWebApp.Pages.Cohort.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cohort[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cohort[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cohort[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cohort[0].IsRegistrationOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cohort[0].CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cohort[0].UpdatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cohort[0].CreatedByIdentityUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cohort[0].UpdatedByIdentityUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cohort) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
