@page
@model BRIDGEWebApp.Pages.Cohort.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cohorts[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cohorts[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cohorts[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cohorts[0].IsRegistrationOpen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cohorts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                    @if (item.IsRegistrationOpen)
                    {
                        <p>Yes</p>
                    } else
                    {
                        <p>No</p>
                    }
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">View</a>
            </td>
        </tr>
}
    </tbody>
</table>
