@page "/survey/{surveyId}/question/{questionId}/questionOption/details"
@model BRIDGEWebApp.Pages.Survey.Question.QuestionOption.DetailsModel

@{
    ViewData["Title"] = "Answer Option Details";
}

<h1>Answer Option Details</h1>
<div>
    <a type="button" class="btn btn-sm btn-success" asp-page="./Edit" asp-route-surveyId="@ViewData["SurveyId"]" asp-route-questionId="@ViewData["QuestionId"]" asp-route-id="@Model.QuestionOption.Id">Edit</a>
    <a type="button" class="btn btn-sm btn-primary" asp-page="./Index" asp-route-surveyId="@ViewData["SurveyId"]" asp-route-questionId="@ViewData["QuestionId"]">Back to List</a>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionOption.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionOption.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionOption.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionOption.Order)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionOption.IsOther)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionOption.IsOther)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionOption.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionOption.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionOption.Question)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionOption.Question.Id)
        </dd>
    </dl>
</div>
