@page "/survey/{surveyId}/question/{questionId}/questionOption/Index"
@model BRIDGEWebApp.Pages.Survey.Question.QuestionOption.IndexModel

@{
    ViewData["Title"] = "Question Options";
}

<h1>Question Options</h1>

<p>
    <a type="button" class="btn btn-sm btn-success" asp-page="./Create" asp-route-surveyId="@Model.QuestionOptionList.SurveyId" asp-route-questionId="@Model.QuestionOptionList.QuestionId">Create Question Option</a>
</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionOptionList.QuestionOptionViewModels[0].Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionOptionList.QuestionOptionViewModels[0].Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionOptionList.QuestionOptionViewModels[0].IsOther)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionOptionList.QuestionOptionViewModels[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.QuestionOptionList.QuestionOptionViewModels)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @if(item.IsOther)
                {
                    <span>Yes</span>
                } else
                {
                    <span>No</span>
                }
            </td>
            <td>
                @if(item.IsActive)
                {
                    <span>Yes</span>
                } else
                {
                    <span>No</span>
                }
            </td>
            <td>
                <a type="button" class="btn btn-sm btn-primary" asp-page="./Details" asp-route-surveyId="@Model.QuestionOptionList.SurveyId" asp-route-questionId="@Model.QuestionOptionList.QuestionId" asp-route-id="@item.Id">Details</a>
                <a type="button" class="btn btn-sm btn-success" asp-page="./Edit" asp-route-surveyId="@Model.QuestionOptionList.SurveyId" asp-route-questionId="@Model.QuestionOptionList.QuestionId" asp-route-id="@item.Id">Edit</a> |
            </td>
        </tr>
}
    </tbody>
</table>
