@page
@model BRIDGEWebApp.Pages.Attendance.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attendance.InAttendance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attendance.InAttendance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attendance.AttendanceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attendance.AttendanceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attendance.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attendance.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attendance.Cohort)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attendance.Cohort.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attendance.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attendance.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Attendance?.AttendanceId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
